<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Interfaz administrador - Pre venta</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Colombia's weather</h1>
	<form action="#" th:action="@{/weather}" th:object="${weatheRequest}"
		method="post">

		<p>
			Select API weather: <select th:field="*{idApiWeather}">
				<option th:value="'1'" th:text="OpenWeatherMap"></option>
			</select>
		</p>
		<p>
			Select Temperature: <select th:field="*{idTemperature}">
				<option th:value="'1'" th:text="Fahrenheit"></option>
				<option th:value="'2'" th:text="Celsius"></option>
				<option th:value="'3'" th:text="Kelvin"></option>
			</select>
		</p>
		<p>
			Select Country: <select th:field="*{countryCode}">
				<option th:value="'co'" th:text="Colombia"></option>
			</select>
		</p>
		<p>
			Select City: <select th:field="*{cityCode}">
				<option th:value="'Mariquita'" th:text="Mariquita"></option>
				<option th:value="'Bogota'" th:text="Bogota"></option>
				<option th:value="'Cali'" th:text="Cali"></option>
				<option th:value="'Girardot'" th:text="Girardot"></option>	
				<option th:value="'Manizales'" th:text="Manizales"></option>	
				<option th:value="'Medellin'" th:text="Medellin"></option>
			</select>
		</p>
		<p>
			<input type="submit" value="ENVIAR" /> <input type="reset"
				value="LIMPIAR" />
		</p>

		<div class="alert alert-danger" th:if="${#fields.hasErrors('*')}">
			<p th:each="err : ${#fields.errors('*')}" th:text="${err}"></p>
		</div>

	</form>

	<!--  <td><a th:href="@{/ventas}"><span>VER VENTAS</span></a></td> -->
</body>
</html>