<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Resultado de pre venta</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<table>
		<h1 th:text="${weather.cityName}" />
		<h2 th:text="${weather.temperatureName}" />
		<thead>
			<tr>
				<th>Temperatura minima</th>
				<th>Temperatura maxima</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<div th:switch="${weather.idTemperature}">
					<span th:case="'1'">
						<td th:text="${weather.temp_min_fahrenheit}"></td>
						<td th:text="${weather.temp_max_fahrenheit}"></td>
					</span> <span th:case="'2'">
						<td th:text="${weather.temp_min_celsius}"></td>
						<td th:text="${weather.temp_max_celsius}"></td>
					</span> <span th:case="'3'">
						<td th:text="${weather.temp_min_kelvin}"></td>
						<td th:text="${weather.temp_max_kelvin}"></td>
					</span>
				</div>
			</tr>
		</tbody>
	</table>
</body>
</html>